p {
  margin-left: 10px;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 30px;
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 10px;
  text-align: center;
  width: 95%;
  height: 30px;
}